# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.codex/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

supabase/.temp
supabase/.temp/*

*.tsbuildinfo

# Sentry Config File
.env.sentry-build-plugin


# Local SSL Certificates for serving localhost over https
192.168.0.31.pem
192.168.0.31-key.pem
