
@keyframes move-right {
  from {
    transform: translateX(0);
  }
  to {
    /* transform: translateX(200px); */
    transform: translateX(20px);
  }
}

.rightwards-linear-div {
  animation: move-right 1s ease-out forwards;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to { 
    /* transform: translateY(-20px); */
    transform: translateY(0);
  }
}

.upwards-linear-div {
  animation: move-up 1s linear forwards;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}

@keyframes upDown {
  from {
    transform: translateY(0);
  }
  to { 
    /* transform: translateY(-20px); */
    transform: translateY(0);
  }
}

.vertical-sine-wave-div {
  animation: upDown 0.5s alternate infinite ease-in-out forwards;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}
